<%= link_to "[戻る]", project_task_path(params[:project_id], params[:id]) %><br />

<h1>
  タスクの編集
</h1>

<%= render "form", submit_path: project_task_path, edit_flag: true %>

<%= link_to "戻る", :back %>
