<h1>ようこそ</h1>

<p class="overview">タスク管理アプリのトップページです。</p>

<div class="border_tegaki">
  <p>アカウントをお持ちでない方は<%= link_to 'サインアップ', new_user_registration_path %>をしてください。</p>
  <p>アカウント登録済みの方は<%= link_to 'ログイン', new_user_session_path %>をして使用してください。</p>
</div>
