<%= form_for @project do |f| %>

    <div>
      <%= f.label "タイトル", class: :title %><br />
      <%= f.text_field :title, class: :editor %>
    </div>

    <p>
      <%= f.submit %>
    </p>

<% end %>
