
h1 {
  padding: .25em 0 .5em .75em;
  border-left: 6px solid #aaa;
  border-bottom: 1px solid #aaa;
}

h2 {
  padding: .25em 0 .5em .75em;
  border-left: 6px solid #aaa;
  border-bottom: 1px solid #aaa;
}
