
input[type="submit"] {
  font-weight: bold;
  font-size: large;
  padding: 10px;
  border-radius:3px;
  border-style: solid;
  border-color: grey;
  background-color: lightgray;
  color:#000;
  cursor:pointer;
  margin: 10px 10px 10px 10px;
}
