// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
button.task_like_button {
  /* 文字の太さをboldに指定 */
  font-weight: bold;

  /* 縦方向に18px、
   * 横方向に2pxの余白を指定 */
//  padding: 18px 2px;
  width: 160px;
  height: 180px;

  background-image: image-url("like.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
}

.show_task_title {
  font-weight: bold;
  font-size: large;
}
