<p>お世話になっております。 <%= @resource.email %>!</p>

<p>一定回数以上ログインに失敗したため、アカウントがロックされました。</p>

<p>アカウントを使用する場合は、以下のリンクからアカウントのロックを解除してください:</p>

<p><%= link_to 'アカウントのロック解除', unlock_url(@resource, unlock_token: @token) %></p>
